@font-face {
    font-family: 'Montserrat Bold';
    src: url(fonts/Montserrat-Bold.otf);
}@font-face {
    font-family: 'Montserrat Light';
    src: url(fonts/Montserrat-light.otf);
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: 'Century STD';
    src: url(fonts/CenturyGothicStdRegular.otf);
}
@font-face {
    font-family: 'Century Bold';
    src: url(fonts/centurybold.ttf);
}
@font-face {
    font-family: 'Century Regular';
    src: url(fonts/century-regular.ttf)
}

@font-face {
    font-family: 'Century light';
    src: url(fonts/ufonts.com_century-gothic.ttf);
}

@font-face {
    font-family: 'Sofia';
    src: url(fonts/SofiaProLight.otf);
}
@font-face {
    font-family: 'raleway bold';
    src: url(fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: 'raleway extralight';
    src: url(fonts/raleway/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: 'raleway semibold';
    src: url(fonts/raleway/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: 'raleway regular';
    src: url(fonts/raleway/Raleway-Regular.ttf);
}
strong {
    font-family: 'Century Bold';
}
body {
    font-family:  'Century regular';
}
p {
    font-size: 17px;
}
.pt {
    font-family: 'montserrat bold';
    margin-top: 25px;
    letter-spacing: 5px;
    font-size: 25px
}
.m-r
{
    font-family: 'montserrat regular';
}
.career-list ul li {
    font-family: 'montserrat light';
}
.mont-light {
    font-family: 'Montserrat Light';
}
.news-banner p {
    font-family: 'montserrat regular'!important;
    margin-bottom: 0
}
h1,h2,h3,h4,h5,h6 {
    font-family:  'Montserrat Bold';
}
.navbar-default {
    background-color: #e71521;
    border: none; 
}
.core h2 {
    font-family: 'Montserrat Bold';
    margin-top: 40px;
}
.core p {
    font-family: 'Century STD'
}
footer {
    font-family: 'montserrat light';
}
header {

    background: #e71521!important;
    font-family: 'montserrat Light'
}
.moment {
    font-family: 'montserrat regular';
    letter-spacing: 2px;
}
.navbar {
    min-height: 80px!important;
}
.navbar-brand>img {
    width: 150px;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 0!important;
    padding: 10px 0;
}
.footer-bottom {
    background: #e71521!important;
    border-top: 1px solid #DDDDDD;
}
.footer-bottom a {
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    text-decoration: none;
        text-transform: uppercase;
}
.about {
    background-color: #fff;
        margin-top: 126px;
}
.categories {
    color: #414042;
    background: #FFF;
    padding: 5px;
    margin-bottom: 25px;
}
.single-news h3 {
    margin-bottom: 0;
}
.panel-default {
    border-color: transparent;
}

.panel.with-nav-tabs .panel-heading{
    top: 80px;
    position: fixed;
    width: 100%;
    padding: 5px 5px 0 5px;
        z-index: 999;

}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
    text-align: center;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

.pres-corner {
    margin-top: 50px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #efefef;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}
.nav-tabs>li {
     float: none!important; 
    margin-bottom: -1px;
    display: inline-table;
    width: 32%;
}
.nav-tabs> .active:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-top-color: #fff;
    left: 47%;
}
.aboutContent {
    margin-bottom: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.panel-body {
     padding: 0!important; 
}
.full {
    width: 100%;    
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.content {
    margin-top: 80px;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;   
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    /* border-color: #e71521; */
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #e71521;
    border-bottom-color: transparent;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-position-y: 31px;
}
.railway {
    font-family: 'Raleway Regular'
}
.txt-red {
    color:  #e71521;
}
.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #414042;
    padding: 35px 0 35px 0;
    font-family: "century regular";
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline;
    max-width: 100%;
    height: auto;
}
.bx-wrapper .bx-viewport {
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important; 
    box-shadow: none!important; 
    border:none!important; 
    left: 0!important; 
    background: transparent!important; 
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.about .nav {
    font-family: 'montserrat light'
}
.h1 {
     font-family: 'montserrat light'
}
h3.txt-red {
    text-transform: uppercase;
}
.aboutContent > .content {
    padding-top: 5%;
}
.mv {
    font-size: 95px;
    margin: 50px 0;
    line-height: 70px;
}
.panel {
    margin-bottom: 0;
}
.tab-content {
    margin-bottom: 50px;
}
footer {
    color: #fff;
}
.career-head {
    font-size: 78px;
}
.txt-white {
    color: #fff;
}
.panel-danger>.panel-heading {
    position: static!important;
    color: #a94442;
    background-color: #e71521;
    border-color: #ebccd1;
}
.panel-danger {
     border:none;
    background-color: #efefef;
}
.col-sm-4 .product p {
    padding: 0 8px;
}
.product strong {
    text-transform: capitalize;
}
.product {
    background-color: #fff;
    min-height: 390px;
    padding: 5px 5px;
    border-radius: 20px;
}
.pads {
    margin: 0px 0px;
    /* border: 1px solid #414042; */
    /* border-radius: 10px; */
}

.single-news p {
    font-family: 'Montserrat Light';
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #e71521;
    border: transparent;
    border-bottom-color: transparent;=
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-position-y: 31px;
}
.top-margin {
    margin-top:7%; 
}
.single-news {
    padding: 30px 20px;
    border-bottom: 3px solid #414042;
}
.single-news:last-child {
    border-bottom: none;
}
.link a {
    text-decoration: none;
    font-weight: 400;
    font-family: 'Montserrat light'!important;
    color: #000;
}
.contact {
    font-family: 'Montserrat light'!important;
}
.item-center {
    align-items: center;
}
.news {
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat light'
}
.c-carrer {
    background: #f7f7f7;
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Montserrat light';
    min-height: 390px;
}
.c-carrer a {
    color: #000
}
.c-carrer ul {
    padding-left: 0
}
.product h1 {
    min-height: 40px;
    font-family: 'raleway regular';
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 5px;
}
.hr {
    margin-top: 10px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    margin-left: 35px;
    margin-right: 35px;
}

hr {

    margin-top: 10px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #ccc;
}

.details {
    border: 2px solid #414042;
    font-family: 'Raleway Regular'
}
.button-dark {
    background: #414042;
    color: #fff;
    font-family: 'Raleway Regular'
}
.button-dark:hover {
    background: rgba(65, 64, 66, 0.81);
    color: #fff;
}
.railway-b {
    font-family: 'Raleway Bold'
}
.detail-middle {
    position: relative;
    margin-top: 15%;
    margin-right: 15%;
}
.link {
    margin-top: 40px;
}
.marg-bot {
    margin-bottom: 30px;
}
.product-label li {
    font-family: 'raleway bold'
}
.product p strong {
    font-family: 'raleway semibold'
}
.product p {
    font-family: 'raleway regular';
    font-size:15px;
}
/*.product img {
    min-height: 275px;
}*/
.swiper-pagination {
    position: inherit!important;
}
.swiper-button-next {
    background-image: url('../img/arrow-left.png')!important;
}
.swiper-button-prev{
    background-image: url('../img/arrow-right.png')!important;
}
.swiper-slide {
    min-height: 500px;
}
.carousel-control span {
    position: absolute;
    top: 130px;
    width: 60%;
    color: #414042;
}
.carousel-control.left {
    background:none;
}

.carousel-control.right {
    background:none;
}
.carousel-caption {
    position: static;
    color: #000;
    text-shadow: none;
    padding: 0 35px;
}
.product p {
    padding: 0 35px;   
}
.carousel-indicators {
    bottom: 0;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #ccc;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #007aff;
}
.h1 {
    font-size: 40px;
    text-transform: uppercase;
}
.t-gray {
    background-color: #f1f2f2;
    padding: 10px;
    margin: 30px 0;
}
.input input {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #fff;
}
.input {
    width: 100%;
    font-size: 18px;
    padding: 10px 0;
}
textarea {
    background-color: #fff;
    height: 1%;
}

.address {
    padding: 10px;
    margin: 30px 0;
}


.address span {
    margin: 0 10px;
    float: left;
}
.address p {
    margin-left: 45px;
}
.wrapper {
    height: 100%;
    height: 100vh;
}
#royal_preloader.royal_preloader_logo .royal_preloader_loader {

    height: 200px!important;
    width: 50%!important;
    left: 30%;
    top:40%;
}
    .bs {
    font-family:  'Montserrat Light', arial!important;
    font-size: 25px;
    }

#royal_preloader.royal_preloader_logo .royal_preloader_percentage {
    display: none;
}
@media (max-width: 767px) {
        .navbar-right {
    float: left!important;
    margin-right: -15px;
    width: 85%;
    }
    .top-margin {
    margin-top: 10%;
}

}
@media (min-width: 768px) {
    .navbar-right {
    float: right!important;
    margin-right: -15px;
    width: 85%;
    }
    .navbar-nav>li {
    float: left;
    width: 15%;
    text-align: center;
}

.col-sm-offset-2 {
    margin-left: 16.66666667%;
}
.col-sm-offset-1 {
    margin-left: 8.33333333%;
}
}
@media screen and (max-width: 446px) {
    .with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    font-size: 9px; 
    min-height: 38px;
    }
    .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    }
    .with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    background-position-y: 29px;
    }
    .nav-tabs>li>a {
    font-size: 9px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-position-y: 20px;
    }
    .top-margin {
    margin-top: 25%;
}
.mv {
    font-size: 53px;
    line-height: 87px;
}
div.home {
    min-height: 245px!important;
        background-size: contain;
    background-position: center 81px;
}

.detail-middle {
    position: relative;
    margin-top: 0;
}
}
@media screen and (max-width: 806px) {
    .with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    font-size: 14px; 
    min-height: 48px;
    }
    .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    }
    .with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
       background-position-y: 38px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-position-y: 24px;
}
}
@media screen and (min-width: 1600px) {
    .mv {
    font-size: 114px!important;
    line-height: 139px!important;
    }
    .bs {
    font-size: 35px;
    }
    .navbar-right {
        width: 86%;
    }
}
@media (max-width: 991px) {
    .navbar-right {
    width: 79%;
}
.navbar-default .navbar-nav>li>a {
    font-size: 13px;
}
    .navbar-nav>li>a {
    padding-bottom: 10px;
    padding-top: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-right {
    width: 84%;
    }
}