
* {
  padding: 0;
  margin: 0;
}
#slideImg {
  margin: 20px 0px;
  padding: 10px 0px;
  position: relative;
}

#slideImg ul { list-style: none; }

#slideImg li {
  float: left;
  margin: 0 1px;
}

#slideImg li img { height: 130px; }

/*img { vertical-align: bottom; border:5px solid #fff; }*/

.rotate-prev { position: absolute; }
